<%= form_with(model: prime, local: true) do |form| %>
  <% if prime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prime.errors.count, "error") %> prohibited this prime from being saved:</h2>

      <ul>
      <% prime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :primenum %>
    <%= form.number_field :primenum, id: :prime_primenum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
